@model AnimalAdoptionCenter.Models.Animal
@inject AnimalAdoptionCenter.Services.GeneralServices.CommentsServices.ICommentsService comments
@inject IRepository repository
<!DOCTYPE html>
<html>
    <head>
        <title>ProfilePage: @Model.Name</title>
    </head>
    <body>
        <div>
            <header>
                <h1>@Model.Name's Profile</h1> 
            </header>
        </div>
        <div class="animal-profile-view-display">
            <div class="animal-profile">
                <img class="animal-profile-img" src="@Model.ProfileImagePath" /> <br />
            </div>
            <table>
                <tr>
                    <th>Age:</th>
                    <td>@Model.Age</td>
                </tr>
                <tr>
                    <th>Sex:</th>
                    <td>@Model.Sex</td>
                </tr>
                <tr>
                    <th>Size:</th>
                    <td>@Model.Size</td>
                </tr>
                <tr>
                @{
                    string subC = Model.CategoryId.Equals(1) || Model.CategoryId.Equals(2) ? "Breed" : "Species";
                    string cityName = repository.GetCityById(Model.CityId).Name!;
                    string resS = Model.IsSterilized ? "Yes" : "No";
                    string resT = Model.IsTrained ? "Yes" : "No";
                    string resV = Model.IsVaccinated ? "Yes" : "No";
                }
                    <th> @subC:</th>
                    <td> @Model.SubCategory </td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>@Model.Description</td>
                </tr>
            </table>
        </div>
    <h3>Comments:</h3>
    <section id="comment-section">
        <div>
            <form data-id="@Model.Id" asp-controller="AnimalProfile" asp-action="AddComment" method="post">
                <input id="comment-box" name="text" type="text" placeholder="Enter Comment Here.." />
                <input value="@Model.Id" name="id" hidden = "hidden"/>
                <input id="comment-send-button" type="submit" value="Send" />
            </form>
        </div>
    @{
        var animalCommentsList = comments.GetComments(Model.Id).ToList();
        foreach (var comment in animalCommentsList)
        {
            var customerName = comments.GetCustomerByComment(comment.Id).Name;
                var shortDate = Html.DisplayFor(modelItem => comment.CreatedDate);
                <hr/>
                <div>
                    <p>@customerName</p>
                    <p>@shortDate</p>
                    <p>@comment.Text</p>
                </div>
        }
    }
    </section>
    </body>
</html>