@using AnimalAdoptionCenter.Models
@using AnimalAdoptionCenter.Models.Enums;
@model AnimalAdoptionCenter.Models.Animal
@{
    var categories = new List<SelectListItem>();
    foreach (var category in ViewBag.Categories)
    {
        categories.Add(
            new SelectListItem { Value = category.Id.ToString(), Text = category.Name }
        );
    }

    var cities = new List<SelectListItem>();
    foreach (var city in ViewBag.Cities)
    {
        cities.Add(
            new SelectListItem { Value = city.Id.ToString(), Text = city.Name }
        );
    }
}
<head>
    <title>Edit Animal Form</title>
    <script src="/javascript/Ajax-Form-Notify.js"> </script>
</head>
<body>
    <section><h1>Admin</h1></section>
    <scetion>
        <form asp-action="UpdateAnimal" class="form" id="EditAnimalForm" method="post" asp-route-id="@Model.Id">
            <div>
                <img src="@Model.ProfileImagePath" />
            </div>
            <div>
                <h2>Edit Animal</h2>
            </div>
            <div>
                <label for="id">ID</label>
                <input id="id" type="text" disabled value="@Model.Id"/>
            </div>
            <div>
                <label for="category">Type</label>
                <select id="category" required asp-for="CategoryId">
                    <option hidden selected value=""></option>
                    @foreach (var item in categories)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div>
                <label for="subCategory">Sub-type</label>
                <input type="text" id="subCategory" asp-for="SubCategory">
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" asp-for="Name" required>
            </div>
            <div>
                <label for="age">Age</label>
                <input type="number" min="0" max="99" id="age" asp-for="Age">
            </div>
            <div>
                <label for="city">City</label>
                <select id="city" required asp-for="CityId">
                    <option hidden selected value=""></option>
                    @foreach (var item in cities)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div>
                <label for="imagePath">Image Path</label>
                <input type="text" id="imagePath" asp-for="ProfileImagePath" />
            </div>
            <div>
                <label for="sex">Sex</label>
                <select id="sex" required asp-for="Sex"
                        asp-items="Html.GetEnumSelectList<eSex>()">
                    <option hidden selected value=""></option>
                </select>
            </div>
            <div>
                <label for="size">Size</label>
                <select id="size" required asp-for="Size"
                        asp-items="Html.GetEnumSelectList<eSize>()">
                    <option hidden selected value=""></option>
                </select>
            </div>
            <div>
                <label for="status">Status</label>
                <select id="status" required asp-for="Status"
                        asp-items="Html.GetEnumSelectList<eStatus>()">
                    <option hidden selected value=""></option>
                </select>
            </div>
            <section>
                <div>
                    <label for="vaccinated" asp-for="IsVaccinated">Vaccinated</label>
                    <input type="checkbox" id="vaccinated" asp-for="IsVaccinated" />
                </div>
                <div>
                    <label for="trained" asp-for="IsTrained">Trained</label>
                    <input type="checkbox" id="trained" asp-for="IsTrained">
                </div>
                <div>
                    <label for="sterilized" asp-for="IsSterilized">Sterilized</label>
                    <input type="checkbox" id="sterilized" asp-for="IsSterilized">
                </div>
            </section>
            <div>
                <label id="description-label" for="description">Description</label>
                <textarea id="description" name="description" cols="40" rows="5" maxlength="250">@Model.Description</textarea>
            </div>
            <div><button class="form-submmission" type="submit">Save changes</button></div>
        </form>
    </scetion>
    <hr />
</body>
