@model AnimalAdoptionCenter.Models.Animal
@inject AnimalAdoptionCenter.Services.GeneralServices.CommentsServices.IGetCommentsService comments

<header>
    <h1>@Model.Name's Profile</h1> <br />
</header>
<div class="popularAnimals">
    <img src="@Model.ProfileImagePath" /> <br />
    <table>
        <tr><td>@Model.Age</td></tr>
        <tr><td>@Model.Size</td></tr>
        <tr><td>@Model.Sex</td></tr>
        <tr><td>@Model.SubCategory</td></tr>
        <tr><td>@Model.Description</td></tr>
        <tr>
            <td>
                <h3>Comments:</h3>
                @{
                    foreach (var comment in @comments.GetComments(Model.Id))
                    {
                        <p>@comment.Customer</p>
                        <p>@comment.Text</p>
                        <p>@comment.CreatedDate</p>
                    }
                }
            </td>
        </tr>
    </table>
</div>