@model IEnumerable<AnimalAdoptionCenter.Models.Animal>
@inject IRepository dataRe
<head>
    <title>Categories</title>
</head>
<body>
    <div>
        <form>
            <input type="search" placeholder="Name/Age/..."
                   value="@ViewBag.UserSearching" name="userSearching" />
            <input type="submit" value="Search" />
            <a asp-action="Index">Reset</a>
        </form>
    </div>
    <div style="display:flex">
        <ul>
            @{
                foreach (var c in dataRe.GetCategories())
                {
                    <li>
                        <div class="animal-profile-img">
                            <img src="@c.ImagePath" alt="@c.Name" />
                        </div>
                        <div class="animal-profile-content">
                            <a asp-action="Index" asp-controller="Catalog"
                       asp-route-UserSearching="@c.Name"
                       name="userChoosing">
                                pick @c.Name 's
                            </a>
                        </div>
                    </li>
                }
            }
        </ul>
        <ul>
            @foreach (var animal in Model)
            {
                <li class="animal-profile" id="profile" name="profile">
                    <div class="animal-profile-img">
                        <img alt=" profile picture" src="@animal.ProfileImagePath">
                    </div>
                    <div class="animal-profile-content">
                        <p>Name: @animal.Name</p>
                        <p>Age: @animal.Age</p>
                        <p>size: @animal.Size</p>
                        <a asp-action="Index" asp-controller="Profile" asp-route-id="@animal.Id">
                            Go To Profile
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</body>