@using AnimalAdoptionCenter.Models
@using AnimalAdoptionCenter.Models.Enums;
@using System.Reflection;
@using System.ComponentModel.DataAnnotations;
@inject IRepository repository
@foreach (Animal animal in Model)
{
    <div class="animal-profile" id="profile" name="profile">
        <div>
            <img class="animal-profile-img" alt="@animal.SubCategory profile picture" src="@animal.ProfileImagePath">
        </div>
        <div class="animal-profile-content">
            <header class="title">Name: @animal.Name</header>
            <p class="secondery-title">Id: @animal.Id</p>
            @{
                string resSC;
                if (animal.CategoryId == 1 || animal.CategoryId == 2)
                {
                    resSC = "Breed";
                }
                else
                {
                    resSC = "Species";
                }
                string cityName = repository.GetCityById(animal.CityId).Name!;
                var resS = animal.IsSterilized ? "Yes" : "No";
                var resT = animal.IsTrained ? "Yes" : "No";
                var resV = animal.IsVaccinated ? "Yes" : "No";
                var statusDisplayName = animal.Status.GetAttribute<DisplayAttribute>().Name;
        }
            <p>@resSC: @animal.SubCategory</p>
            <p>Age: @animal.Age</p>
            <p>City: @cityName</p>
            <p>Sex: @animal.Sex</p>
            <p>Size: @animal.Size</p>
            <p>Status: @statusDisplayName</p>
            <p>Vaccinated: @resV </p>
            <p>Sterilized: @resS</p>
            <p>Trained: @resT</p>
            <div>
                <span>
                    <form asp-action="Index" asp-controller="AnimalProfile" asp-route-id="@animal.Id">
                        <button type="submit"> Profile </button>
                    </form>
                </span>
                <span>
                    <form asp-action="EditAnimalForm" asp-route-id="@animal.Id">
                        <button type="submit"> Edit </button>
                    </form>
                </span>
                <span>
                    <form asp-action="DeleteAnimal" asp-route-id="@animal.Id" onsubmit="return confirm('Are you sure you want to delete this profile?');">
                        <button type="submit"> Delete </button>
                    </form>
                </span>
            </div>
        </div>
    </div>
}